@page
@model Mock_Project_Group9.Pages.UserDetails.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UserDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="UserDetails.UserId" class="control-label"></label>
                <input asp-for="UserDetails.UserId" class="form-control" value="@Model._id" readonly />
                <span asp-validation-for="UserDetails.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserDetails.UserName" class="control-label"></label>
                <input asp-for="UserDetails.UserName" class="form-control" value="@Model._userName" readonly/>
                <span asp-validation-for="UserDetails.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserDetails.Address" class="control-label"></label>
                <input asp-for="UserDetails.Address" class="form-control" />
                <span asp-validation-for="UserDetails.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserDetails.Phone" class="control-label"></label>
                <input asp-for="UserDetails.Phone" class="form-control" />
                <span asp-validation-for="UserDetails.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserDetails.Status" class="control-label"></label>
                <input asp-for="UserDetails.Status" class="form-control" />
                <span asp-validation-for="UserDetails.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
